<%- include('../partials/header') %>
  <nav>
    <div class="row col-xs-8 col-xs-offset-2">
      <div class="recipe-row">
        <% for(var i=0; i < recipeData.results.length; i++) { %>
          <a href="/recipes/<%= recipeData.results[i].id%>">
            <div class="recipe-container">
              <div class="recipe-card">
                <img src="<%= recipeData.results[i].image %>">
                <h3>
                  <%= recipeData.results[i].title %>
                </h3>
              </div>
            </div>
          </a>
          <% } %>
      </div>
    </div>
  </nav>
  <%- include('../partials/footer') %>